@tailwind base;
@tailwind components;
@tailwind utilities;


*{  
  box-sizing: border-box;
  margin-top: 0px;
  background-color: #ebedf3;
}

.ellipses{
  border-radius:100% 0% 0% 100% / 0% 100% 0% 100%  ;
}